
body{
margin: 0;
font-family: gill sans;
color: white;
font-weight: lighter;
background-color: lightgrey;
  }

header{
background-color: #8bc7c4;
height: 10vh;
color: white;
padding-top: 1vh

  }

h1{
font-weight: lighter;
text-align: center;
margin: auto;

  }

  h2{
  font-weight: lighter;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
  
    }
main{
display: flex;
flex-direction: row;
justify-content: flex-end;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: column wrap;
  justify-content: space-around;
  /*align-content: center;*/
  align-items: stretch;
}

h2{
  font-weight: lighter;
  text-align: center;
  /*font-family: cursive;*/
}

li {
  border: 1px solid grey;
  border-radius: 5px;
  background: slategrey;
  padding: 15px;
  /*width: 200px;*/
  /*height: 100px;*/
  /*margin-top: 10px;*/
  margin: 10px;
  /*line-height: 150px;*/
  color: white;
  /*font-weight: bold;*/
  font-size: 1em;
  text-align: center;
  flex-basis: 25%;
}
#firstWeatherbit{
  order: -1;
  }

#forecastText{

}
#left a{
position: absolute;
color: white;
font-size: 10px;
bottom: 0;
right: 0;
align-self: flex-end;}

li span{
  font-size: 3em;
}
#middle{
  overflow: hidden;
}

#left{width: 20vw;}
  .button {
    float: left;
    margin: 40px;
     border-top: 1px solid #96d1f8;
     background: #7dd1cd;
     background: -webkit-gradient(linear, left top, left bottom, from(#7dd1cd), to(#7dd1cd));
     background: -webkit-linear-gradient(top, #7dd1cd, #7dd1cd);
     background: -moz-linear-gradient(top, #7dd1cd, #7dd1cd);
     background: -ms-linear-gradient(top, #7dd1cd, #7dd1cd);
     background: -o-linear-gradient(top, #7dd1cd, #7dd1cd);
     padding: 5px 30px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     border-radius: 8px;
     -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
     -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
     box-shadow: rgba(0,0,0,1) 0 1px 0;
     /*text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
     color: white;
     font-size: 14px;
     font-family: gill sans, serif;
     font-weight: lighter;
     text-decoration: none;
     vertical-align: middle;
     }
  .button:hover {
     border-top-color: #28597a;
     background: #c8cfd4;
     color: white;
     }
  .button:active {
     border-top-color: #7dd1cd;
     background: #7dd1cd;
     }

div{

overflow-y: scroll;
margin-top: 10px;
margin-right: 20px;
/*float: right;*/
border: 3px solid white;
width: 30vw;
height: 80vh;
padding: 0px 5px;
  }

.task-list{width: 22vw;
height: 40vh;}

#delete-div{
  width: 22vw;
  height: 22vh;
}

  #draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
  #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
